.ratingOverview {
  display: flex;
  width: 25%;
  position: absolute;
  top: 0%;
  right: 15%;
  font-size: 10px;

}

.readallreviews {
  margin-left: 5px;
  margin-top: 5px;
  color: blue;
}

.readallreviews:hover {
  cursor: pointer;
}


.picture {
  border-radius:100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;


}
.thumbnails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 2;
  position: absolute;
  height: 450px;
  top: 8%;
  padding-left: 3px;
}
.thumbnailE {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 10%;
}

.thumbnailsIcons {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  z-index: 3;
  position: absolute;
  bottom: -13em;
  min-width: 500px;
  max-width: 90%;
  /* background-color: rgb(0, 0, 0, 0.5); */
  justify-content: space-between;
  border-radius: 30px;


}

.thumbnailIcon {
  height: 50px;
  width: 50px;
  margin: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 100%;
  border-radius: 10%;
}

.highlightedThumbnailIcon {
  height: 50px;
  width: 50px;
  margin: 20px;
  border-width: 2px;
  border-style: solid;
  border-color:rgb(102, 162, 182);
  box-shadow: 0px 0px 10px 1px rgb(102, 162, 182);
  border-radius: 100%;
  border-radius: 10%;
}


.highlightedThumb {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color:rgb(102, 162, 182);
  box-shadow: 0px 0px 10px 1px rgb(102, 162, 182);
  border-radius: 10%;
}



.bigPicture {
  display: inline;
  width: 55%;
  height: 55%;
  margin-bottom: 25px;
  max-height: 500px;
  min-height: 500px;
  position: relative;
  border-radius: 10%;
  z-index: 1;
  animation: slide 1s;
}



.Picture {
  /* display: inline;
  min-height: 500px; */
  width: 55%;
  height: 50%;
  margin-bottom: 25px;
  max-height: 600px;
  min-height: 600px;
  min-width: 500px;
  border-radius: 20px;

}

.Picture[slide = 'right'] {

}

@keyframes slide {

}

.Picture:hover {
  cursor: zoom-in;
}

.expandedPicture {
  width: 1000px;
  height: 1000px;
  z-index: 2;
  top: -10%;
  position: absolute;
  border-radius: 30px;

  /* margin-bottom: 25px; */
  /* max-height: 800px;
  min-height: 00px; */
}

.expandedPicture:hover {
  cursor: zoom-in;
}

.expandedPictureContainer {

  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 1;

  /* margin-bottom: 25px; */
  /* max-height: 800px;
  min-height: 00px; */
}

.zoomedPicture {
  /*
    -moz-transform: scale(3.5);
    -o-transform: scale(3.5);
    -ms-transform: scale(3.5); */
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    position: absolute;
    overflow: auto;
    z-index: 5;
    top: 0;
    left: 0;
    transform-origin: center;
    width: 1000px;
    height: 1000px;
    background-color: black;
    /* --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y); */


}


.zoomedPicture:hover {
  cursor: zoom-out;
}

.exit {
  z-index: 3;
    font-weight:700;
    font-size: 30px;
    position: absolute;
    top: -8%;
    background: none;
    color:  white;
    border: none;
}

.exit:hover {
  background-color: rgb(0, 0, 0, 0.5);
}


p {
  font-size: 12px;
}

h3 {
  color: rgb(102, 162, 182);
  text-transform: uppercase;
}

.rightArrow {
  display: inline;
  z-index: 1;
  position: absolute;
  left: 85%;
  margin-top: 100%;
  border-radius: 30%;
  background-color: rgb(0, 0, 0, 0.5);
  width: 30px;
  height: 40px;
}

.leftArrow {
  display: inline;
  z-index: 1;
  position: absolute;
  left: 10%;
  margin-top: 100%;
  border-radius: 30%;
  background-color: rgb(0, 0, 0, 0.5);
  width: 30px;
  height: 40px;
}

.upArrow {
    display: inline;
    z-index: 1;
    position: absolute;
    left: 4.5%;
    margin-top: 4%;
    border-radius: 80%;
    border-width: 2px;
    border-style: solid;
    height: 18px;
    width: 18px;
    color: white;
    border-color: grey;
    background-color: rgba(255, 255, 255, 0.1);

}

.downArrow {
    display: inline;
    z-index: 1;
    position: absolute;
    left: 4.5%;
    margin-top: 100%;
    border-radius: 80%;
    border-width: 2px;
    border-style: solid;
    height: 18px;
    width: 18px;
    color: white;
    border-color: grey;
    background-color: rgba(255, 255, 255, 0.1);

}

.upArrow:hover, .downArrow:hover {
  border-color: white;
}

.smallLeftArrow {
  display: inline;
  z-index: 3;
  position: absolute;
  left: 1%;
  border-radius: 30%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 50%;
  width: 50px;
  height: 80px;
  color: black;
}

.smallRightArrow {
  display: inline;
    z-index: 3;
    position: absolute;
    left: 95%;
    border-radius: 30%;
    background-color: rgb(0, 0, 0, 0.5);
    top: 50%;
    width: 50px;
    height: 80px;
    color: black;
}
.smallRightArrow:hover, .rightArrow:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.smallLeftArrow:hover, .leftArrow:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


.stylesBox {
  display: flex;
  width: 40%;
  height: 300px;
  flex-wrap: wrap;
  margin-left: 55%;
  margin-top: min(-450px, -40px);
  padding-left: 5px;
  padding-bottom: 15%;
  min-width: 40%;


}

.styles {
  position: relative;
  left: 2em;
  z-index: 0;

}

.headerStyles {
  position: absolute;
  right: 38%;
  bottom: 100%;
  font-size: 1em;
}

.price {
  display: flex;
  margin-bottom: 10px;

}

.category {
  margin-bottom: -5%;
  font-size: 12px;
  color: grey;
}

.describe {
  /* position: relative;
  width: 25%;
  float: right; */

  margin-top: 5%;
  width: 25%;
  position: absolute;
  top: 0%;
  right: 15%;

}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-right: auto;
  margin-bottom: 5%;

}

.dropdown-content {
  display: none;
}

.show-content {
  z-index: 2;
  display: block;
	font-size: 12px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 70%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  position: absolute;
  /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */

}

.dropbtn {
  /* display: block;
  min-width: 75%;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px; */
  display: block;
	font-size: 12px;
	font-weight: 700;
	color: black;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
  margin-top: 5px;
	border: 1px solid black;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
  appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.dropbtn::-ms-expand {
	display: none;
}
.dropbtn:hover {
	border-color: #888;
}
.dropbtn:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.selection {
  width: 100%;
}

.hidden {
  display: none;
}


.wrapper {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.addCart {
    width: 120px;
    color: white;
    font-size: 12px;
    margin: 5px;
    border-color: white;

    /* font-weight: bold; */
    margin-top: 1em;
    margin-left: 3em;
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(102, 162, 182);
}

.thumbnailE:hover, .highlightedThumb:hover, .thumbnailIcon:hover, .addCart:hover, .picture:hover, .smallLeftArrow:hover, .smallRightArrow:hover,  .leftArrow:hover, .rightArrow:hover, .dropbtn:hover, .show-content:hover, .upArrow:hover, .downArrow:hover{
  cursor: pointer;

}

.picture:hover {

  border-width: 5px;
  border-style: solid;
  border-color:rgb(102, 162, 182);
  box-shadow: 0px 0px 10px 1px rgb(102, 162, 182);

}

.bigPicture:hover {

  opacity: 0.8;
}



.productName {
  font-size: 30px;
}

