.picture {
  border-radius:100px;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  position: absolute;
  height: 500px;

}
.thumbnail {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
}

.thumbnailsIcons {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  z-index: 3;
  position: absolute;
  bottom: 14%;
  min-width: 500px;
  max-width: 90%;
  background-color: aliceblue;
  justify-content: left;

}

.thumbnailIcon {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 100%;
}

.highlightedThumbnailIcon {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 100%;
}


.highlightedThumb {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.bigPicture {
  display: inline;
  width: 55%;
  height: 55%;
  margin-bottom: 25px;
  max-height: 500px;
  min-height: 500px;
  position: relative;
}

.Picture {
  /* display: inline;
  min-height: 500px; */
  width: 55%;
  height: 50%;
  margin-bottom: 25px;
  max-height: 500px;
  min-height: 500px;
}

.Picture:hover {
  cursor: zoom-in;
}

.expandedPicture {
  width: 1000px;
  height: 1000px;
  z-index: 2;
  top:5%;
  position: absolute;
  display: block;
  /* margin-bottom: 25px; */
  /* max-height: 800px;
  min-height: 00px; */
}

.expandedPicture:hover {
  cursor: zoom-in;
}

.expandedPictureContainer {
  z-index: 2;
  max-width: 500px;
  max-height: 500px;
  min-height: 500px;
  /* margin-bottom: 25px; */
  /* max-height: 800px;
  min-height: 00px; */
}

.zoomedPicture {
  /* -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -o-transform: scale(3.5);
    -ms-transform: scale(3.5); */
    transform: scale(3.5);
    position: absolute;
    overflow: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    /* --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y); */
    /* -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate; */
}

/* @-webkit-keyframes moveX {
  from { left: 0; } to { left: 400px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 200px; }
} */

.zoomedPicture:hover {
  cursor: zoom-out;
}

p {
  font-size: 12px;
}

h3 {
  color: rgb(102, 162, 182);
}

.rightArrow {
  display: inline;
  z-index: 1;
  position: absolute;
  left: 85%;
  margin-top: 85%;
  border-radius: 100%;
  background-color: white;
}

.leftArrow {
  display: inline;
  z-index: 1;
  position: absolute;
  left: 10%;
  margin-top: 85%;
  border-radius: 100%;
  background-color: white;
}

.smallLeftArrow {
  display: inline;
  z-index: 3;
  position: absolute;
  left: 10%;
  border-radius: 100%;
  background-color: white;
}

.smallRightArrow {
  display: inline;
  z-index: 3;
  position: absolute;
  left: 85%;
  border-radius: 100%;
  background-color: white;
}




.stylesBox {
  display: flex;
  width: 50%;
  height: 300px;
  flex-wrap: wrap;
  margin-left: 55%;
  margin-top: min(-400px, -450px);
  padding-left: 5px;
  padding-bottom: 15%;
  min-width: 50%;

}
.price {
  display: flex;
}

.category {
  margin-bottom: -5%;
  font-size: 12px;
  color: grey;
}

.describe {
  /* position: relative;
  width: 25%;
  float: right; */

  /* margin-top: 5%; */
  width: 25%;
  position: absolute;
  top: 0%;
  right: 15%;

}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-right: auto;
  margin-bottom: 5%;

}

.dropdown-content {
  display: none;
}

.show-content {
  display: block;
	font-size: 12px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 70%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  position: absolute;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);

}

.dropbtn {
  /* display: block;
  min-width: 75%;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px; */
  display: block;
	font-size: 12px;
	font-weight: 700;
	color: black;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
  margin-top: 5px;
	border: 1px solid black;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
  appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.dropbtn::-ms-expand {
	display: none;
}
.dropbtn:hover {
	border-color: #888;
}
.dropbtn:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.selection {
  width: 100%;
}

.hidden {
  display: none;
}

.exit {
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 5%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

