.picture {
  border-radius:100px;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.bigPicture {
  display: inline;
  width: 50%;
  margin-bottom: 25px;
  max-height: 500px;
}

/* h3 {
  display: flex;
  width: 300px;
  margin-left: auto;

} */

.category {

}

.stylesBox {
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: -100px;

}
.price {
  display: flex;
}

.describe {
  width: 25%;
  float: right;
  padding-right: 10%;
  padding-top: 10%;
}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-right: auto;
}

.dropdown-content {
  display: none;
}

.show-content {
  display: block;
}