/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}


/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;

}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  padding: 7.5px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  font-family: "Open Sans", sans-serif;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
  padding: 8px
}

.accordion__answer {
  font-weight: 400;
  font-size: 14px;
}

.addAnswer {
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
}

.helpful {
  background-color: white;
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
}

.loadmore {
  background-color: white;
  padding-left: 23px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
}

.loadmoreQ {
  background-color: white;
  width: 120px;
  padding: 5px;
  font-size: 10px;
  margin: 5px;
  font-weight: bold;
}

.spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.QAcontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow: auto;
  position: relative;
}
.QAheader {
  display:flex;
  font-size: 16px;
  margin-top: 2px;
  border-top: 1px solid black;
  justify-content: space-between;
}
.QAbody {
  display:flex;
  flex-direction: column;
  font-size: 14px;
}

.answerBody {
  display: flex;
  margin:10px;
  width: 100%;
  border-bottom: 1px solid black;
}
.QAanswerbutton {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  border-color: white;
  border-bottom: 1px solid black;
}

.QAname {
  margin-left: 5px;
  margin-right: 5px;
}

.QAnameBody {
  display: flex;
  font-size: 12px;
}

.QAPopOut{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 365px;
}

.Qabody {
  width: 100%;
  height: 250px;
  overflow: auto;
}
.Qabody1 {
  width: 90%;
}

.popoutQA {
  position: relative;
  bottom: 400px;
}

.QAmoney2{
  width: 10%;
  height: 10%;
  top: 70%;
  left: 55%;
  position: absolute;
  background-color: black;
  z-index: 24;
  clip-path: ellipse(37% 40% at 50% 50%);
}

.QAmonkey1{
  width: 260px;
  height: 260px;
  position: relative;
}
.QAsearchBack{
  width: 25px;
  height: 25px;
  background-color: rgb(102, 162, 182);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.QAsearchTxt{
  height: 20px;
  border-color: white;
  border-style: none;
  border-bottom: 1px solid black;
}

.QAsearchGO2{
  width: 25px;
  height: 25px;
  border: none;
  background: radial-gradient(white 25%, rgb(102, 162, 182) 25%,rgb(102, 162, 182) 100%);
  clip-path: circle(50% at 50% 50%);
}

.QAheader1 {
  display: flex;
  border: none;
  width: 80%;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.QAmonkey3{
  width: 45%;
  height: 14%;
  top: 69%;
  left: 26%;
  position: absolute;
  background-color: rgb(215 135 85);
  z-index: 24;
  clip-path: ellipse(37% 40% at 50% 50%);
}

.QAmonkey4{
  width: 50%;
  height: 15%;
  top: 70%;
  left: 26%;
  position: absolute;
  background-color: black;
  z-index: 24;
  clip-path: ellipse(37% 40% at 50% 50%);
}

.QAmonkey5{
  width: 25px;
  height: 25px;
  position: relative;
}