/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}


/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;

}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  padding: 7.5px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  font-family: "Open Sans", sans-serif;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
  padding: 8px
}

.accordion__answer {
  font-weight: 400;
  font-size: 14px;
}

.helpful {
  background-color: white;
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
}

.loadmore {
  background-color: white;
  padding-left: 23px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
}

.loadmoreQ {
  background-color: white;
  width: 120px;
  padding: 5px;
  font-size: 10px; margin: 5px;
  font-weight: bold;
}
