.container {
  position: relative; /* relative to a normal position */
  margin: auto; /* when displaying a block, setting margin auto will center */
  max-width: 100%;
}

.carousel {
  display: flex;
  justify-content: flex-start; /* use with flex. horizontal */
  list-style: none;
  max-width: 100%;
}

/* CardTemplate component */
.card {
  display: inline-block;
  border: 1px solid rgb(177, 174, 174, 0.5);
  border-radius: 5%;
  margin: 0 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  height: 350px;
}

.card:hover {
  box-shadow: 0px 0px 10px 1px grey;
  cursor: pointer;
}

.related-product-img {
  width: 100%;
  height: 250px; /* discuss what to do with various sizes of images*/
  object-fit: cover; /* crop an image without changing original ratio */
  margin: 0;
  border: 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 0;
  font-size: 14px;
}

.product-info {
  margin: 5px;
}

.product-category,
.product-price {
  font-size: 12px;
  text-transform: uppercase;
}

.discounted-price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

.product-name {
  font-weight: bold;
  font-size: 14px;
}

.slideLeft,
.slideRight {
  border: none;
  width: 30px;
}

.slideLeft:hover,
.slideRight:hover {
  background-color: rgb(102, 162, 182, 0.5);
  cursor: pointer;
}

/* Outfit component */
/* .add-button {
  border: 1px solid rgb(177, 174, 174, 0.5);
  font-size: 24px;
  padding: 10px 30px;
} */

.add-button:hover {
  background-color: rgb(177, 174, 174, 0.5);
}

.plus,
.add-message {
  text-transform: uppercase;
  display: block;
  position: relative;
  top: 35%;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.plus {
  font-size: 42px;
}

.add-message {
  font-size: 14px;
  font-weight: bold;
}

/* Comparison component */
.parent {
  position: relative;
}

.modal {
  display: block;
  position: absolute;
  transform: translate(20%, -80%);
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  z-index: 2;
  border: 1px solid rgb(177, 174, 174);
  background-color: rgb(255, 255, 255, 0.95);
  border-radius: 5%;
  box-shadow: 0px 0px 10px 1px grey;
  animation: popup 0.25s;
}

@keyframes popup {
  0% {
    transform: translate(10%, -40%);
  }
}

.comparing {
  font-weight: bold;
  color:rgb(102, 162, 182);
}

.modal_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.close,
.star {
  position: absolute;
  padding: 3px;
  right: 2%;
  z-index: 1;
  font-weight: bold;
}

.close:hover,
.star:hover {
  color: rgb(102, 162, 182);
  cursor: pointer;
  font-weight: bold;
}

/* a table styling in Comparison component */
table {
  width: 100%;
}

.column {
  font-size: 14px;
}

.description-row {
  font-size: 12px;
  margin-top: 5px;
}

.column,
.description-row {
  text-align: center;
}

th, td {
  min-width: 33%;
  padding-top: 5px;
}

/* AdditionalImages component */
.additional-images {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  margin-top: -50px;
  z-index: 1;
  position: absolute;
  padding: 0;
}

.thumbnail {
  width: 100%;
  max-width: 40px;
  margin: 0 2px;
  border-radius: 10%;
  border:1.5px solid rgb(177, 174, 174);
}

.thumbnail:hover {
  border-color:rgb(102, 162, 182);
}

.slideLeft-mini,
.slideRight-mini {
  border: none;
  width: 5px;
  background: none;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
}