.container {
  position: relative; /* relative to a normal position */
  margin: auto; /* when displaying a block, setting margin auto will center */
  max-width: 100%;
}

.carousel {
  display: flex;
  justify-content: flex-start; /* use with flex. horizontal */
  list-style: none;
  max-width: 100%;
}

/* CardTemplate component */
.card {
  display: inline-block;
  border: 1px solid rgb(177, 174, 174, 0.5);
  margin: 0 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  height: 350px;
}

.related-product-img {
  width: 100%;
  height: 250px; /* discuss what to do with various sizes of images*/
  object-fit: cover; /* crop an image without changing original ratio */
  margin: 0;
  border: 0;
  padding: 0;
}

.product-info {
  margin: 5px;
}

.discounted-price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

.product-name {
  font-weight: bold;
}

.slideLeft,
.slideRight {
  border: none;
  width: 75px;
}

.slideLeft:hover,
.slideRight:hover {
  background-color: rgb(177, 174, 174, 0.5);
}

/* Outfit component */
.add-button {
  border: 1px solid rgb(177, 174, 174, 0.5);
  font-size: 24px;
  padding: 10px 30px;
}

.add-button:hover {
  background-color: rgb(177, 174, 174, 0.5);
}

.add-button,
.add-message {
  display: block;
  position: relative;
  top: 35%;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

/* Comparison component */
.parent {
  position: relative;
}

.modal {
  display: block;
  position: absolute;
  top: -75%;
  left: 50%;
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  z-index: 2;
  border: 1px solid black;
  background-color: white;
}

.modal_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.close,
.star {
  position: absolute;
  padding: 3px;
  right: 2%;
  z-index: 1;
  font-weight: bold;
}

.close:hover,
.star:hover {
  color: white;
  cursor: pointer;
}

/* a table styling in Comparison component */
table {
  width: 100%;
}
.col-1 {
  text-align: left;
}

.col-3 {
  text-align: right;
}

th {
  max-width: 33%;
}