.warningContainer {
  height: 40%;
  width: 40%;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(135deg, black, transparent);
  color: #f1c3c3;
  Z-index: 98;
  margin: 10%;
  padding: 2%;
  align-items: left;
  font-size: 25px;
  flex-direction: column;
}

.warningButton {
  width: 200px;
    height: 50px;
    position: absolute;
    z-index: 101;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: flex-start;
    color: #560404;;
    padding-top: 1px;
    padding-left: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, white, black);
    clip-path: polygon(0% 0%, 26% 0%, 43% 45%, 100% 100%, 10% 44%, 0% 37%);
}

.warningItems {
  margin: 4%;
  justify-content: left;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 10px;
  padding: 1px;
  color: white;
  background: linear-gradient(to right, #b91b1b, transparent);
  padding-left: 10px;
  Z-index: 99;
}

.warningButtonBG {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 102;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(48% 61%, 30% 40%, -9% 103%, 7% 100%);
}

.warningButtonPart1 {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 102;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(97% 98%, 85% 85%, 92% 57%,100% 46%);
}
.warningButtonPart2 {
  width: 200px;
    height: 50px;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(33% 36%, 46% 66%, 95% 0%,86% 0%);
}