.warningContainer {
  height: auto;
  width: 70%;
  position: absolute;
  border-radius: 10px;
  background-color: white;
  Z-index: 98;
  top: 10%;
  overflow: hidden;
  left: 10%;
  border: 5px solid black;
  padding: 6%;
  align-items: left;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.warningButton {
  width: 200px;
    height: 50px;
    position: absolute;
    z-index: 101;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: flex-start;
    color: #560404;;
    padding-top: 1px;
    padding-left: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, white, black);
    clip-path: polygon(0% 0%, 26% 0%, 43% 45%, 100% 100%, 10% 44%, 0% 37%);
}

 .warningItems {
  margin: 2px;
  justify-content: left;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 10px;
  padding: 1px;
  color: #e5e5e5;
  background: linear-gradient(to right, #b91b1b, transparent 75%);
  padding-left: 10px;
  Z-index: 99;
}

.warningButtonBG {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 102;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(48% 61%, 30% 40%, -9% 103%, 7% 100%);
}

.warningButtonPart1 {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 102;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(97% 98%, 85% 85%, 92% 57%,100% 46%);
}
.warningButtonPart2 {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, red);
    clip-path: polygon(33% 36%, 46% 66%, 95% 0%,86% 0%);
}

.popOutContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 10px solid black;
    position: absolute;
    background-color: #000000c7;;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formButton {
    color: #ff000000;
    font-size: 14px;
    border-radius: 120px;
    border: 1px solid rgb(240, 0, 0);
    background-color: #f100007a;
    width: 50px;
    height: 50px;
    margin: 10px;
    z-index: 95;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.firstContainer {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstTopContainer {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 45%;
    justify-content:space-between;
}

.topSmallContainer{
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 120px;
    background-color: #ffffff;
}
.buttonBase{
  display: flex;
  position: relative;
}
.clickedButton {
  color: white;
  border-radius: 10px;
  overflow: visible;
  padding: 5px;
  width: 45%;
  background-color: #000000a8;
  margin: 2px;
  margin-top: 7px;
  border: 1px solid;
  font-size: 10px;
  font-weight: bold;
}

.unclickedButton {
  color: red;
    border-radius: 10px;
    overflow: visible;
    padding: 5px;
    width: 45%;
    background-color: #ffffffa8;
    margin: 2px;
    margin-top: 7px;
    border: 1px solid;
    font-size: 10px;
    font-weight: bold;

}

.buttomContainer {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(0, 0, 0);
}
.formStar {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.formDetail {
  font-size: 10px;
  z-index: 93;
  position: absolute;
  color: black;
  text-align: center;
  width: 12%;
  border-radius: 20px;
  background-color: #ffffff;
}

.midSmallContainer {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 120%;
  justify-content: center;
  border-radius: 15px;
}

.tagContainer {
  overflow: auto;
  padding: 1%;
  font-size: 16px;
}
.tag {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2px;
  /* border: none; */
  /* border: 5px solid rgb(255, 0, 0); */
  background-color: #ffffff;
}

.textcontainer{
  overflow: auto;
  width: 80%;
  padding: 1%;
}

.formTextContainer {
  display: flex;
  /* margin-bottom: 20px; */
  border: 2px solid black;
  border-radius: 20px;
  padding: 2px;
  height: 36px;
  /* border: 5px solid rgb(255, 0, 0); */
  background-color: #ffffff;
  position: relative;
}

.formText {
  width: 90%;
  font-size: 12px;
  position: relative;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
}
.block {
  height: 12px;
  width: 100%;
}

.formMSG {
  font-size: 10px;
  padding-left: 30px;
  color: rgb(0 0 0);;
  margin-top: 5px;
}

.textarea {
  resize: none;
  overflow: auto;
  width: 97%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1%;
  background-color: #ffffff;;
}

.btnContainer {
  display:flex;
  justify-content: center;
  padding:20px;
}

/* .a:hover {
  transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}

transform: perspective(500px) rotateY(45deg); */

.add_moreBTN {
  width: 140px;
  color: white;
  font-size: 11px;
  margin: 5px;
  border-color: white;
  margin-top: 1em;
  border-radius: 30px;
  padding: 5px;
  background-color: rgb(102, 162, 182);
  cursor: pointer;
}

.add_moreBTNContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  padding: 10px;
}

.rating {
  font-size: 12px;
  width: 45%;
}
.ratingHead {
  display:flex;
  font-size: 45px;
  justify-content: center;
  align-items: center;
}

.ratingStar{
  width: 30px;
  height: 30px;
  position: relative;
}

 .emptyStar {
  background-color: rgb(230, 217, 217);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

 .fullStar {
  background-color: rgb(5, 5, 5);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

 .qOneStar {
  background:linear-gradient(
    to right,
    rgb(5, 5, 5) 0%,
    rgb(5, 5, 5) 25%,
    rgb(230, 217, 217) 50%,
    rgb(230, 217, 217) 100%,
  );
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

 .qTwoStar {
  background:linear-gradient(
    to right,
    rgb(5, 5, 5) 0%,
    rgb(5, 5, 5)  50%,
    rgb(230, 217, 217) 75%,
    rgb(230, 217, 217) 100%
    );
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

 .qThreeStar {
  background:linear-gradient(
    to right,
    rgb(5, 5, 5) 0%,
    rgb(5, 5, 5) 75%,
    rgb(230, 217, 217) 100%
    );
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.starButton {
  width: 25px;
  height: 30px;
  background-color: rgba(228, 18, 18, 0);
  color: #ffffff00;
  border: none;
  position: absolute;
  z-index: 50;
}

.starListContainer {
  margin: 10px;
  width: 90%
}

.starListBase {
  display: flex;
  margin-top: 10px;
}

.starListText {
  display: flex;
  font-size: 12px;
  align-items: flex-end;
  border-style: none;
  border-bottom:1px solid black;
  background-color: white;
  margin-right: 10px;
  padding:1px;
  width: 30%;
}

.starListText:hover {
  display: flex;
  font-size: 12px;
  border-style: none;
  border-bottom:1px solid rgb(247, 0, 0);
  background-color: white;
  color:red;
  margin-right: 10px;
  padding:1px;
  width: 30%;
}

.starRatingBarBase {
  border: 1px solid rgb(177, 174, 174, 0.5);
  display:flex;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  margin: 5px;
  background-color: rgb(177, 174, 174, 0.5);
  border-radius: 5px;
  position: relative;
}

.charaContainer {
  font-size: 12px;
  margin:10px;
  width: 90%;
}

.charaBar {
  display: flex;
  width: 100%;
  height: 15px;
  justify-content: flex-start;
  position: relative;
}

.charaSmallBar {
  width: 20%;
  height: 12px;
  background-color:rgb(177, 174, 174, 0.5);
  border:1px solid white;
  border-radius: 5px;
}

.charaText {
  font-size: 10px;
  width: 25%;
  position: absolute;
}

.charaBarPoint {
  width: 15px;
  height: 15px;
  background-color: rgb(102, 162, 182);;
  margin: 2px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.reviewListHeader {
  display: flex;
  font-size: 12px;
}

.reviewListSort {
  border-style: none;
  outline: 0px;
}

.msgStar {
  width: 15px;
  height: 15px;
  position: relative;
}

.msgHeader {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 5px
}
.msgListBase {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  overflow: auto;
}
.msgContainer {
  border-bottom: 2px solid black;
}
.msgSummary {
  font-size: 14px;
  font-weight: bold;
}

.photoContainer{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.photos {
  display: block flex;
  margin-right: auto;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.photos:active {
  display: block flex;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.msgResponseContainer {
  background-color: bisque;
  width: 95%;
  padding-left: 10px;

}

.msgResponse {
  margin-left: 20px;
  font-size: 12px;
}

.msgBody {
  font-size: 12px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.msgBody1 {
  width: 200px;
  font-size: 12px;
  /* overflow:auto; */
  word-wrap:break-word;
  padding-left: 10px;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box; */
}

.helpfulButton {
  border-style: none;
  background-color: white;
  font-size: 12px;
  margin:2px;
}

.popOut {
  position: absolute;
  bottom: 80%;
  left:-40%;
  width: 135%;
  height: 470px;
}

.formStar {
  width: 25px;
  height: 25px;
}

.reviewContainer {
  display:flex;
}

.barTextContainer {
  display: flex;
  justify-content: space-between;
}
.barText {
  font-size: 10px;
}

.reviewListBase {
  display:flex;
  flex-direction: column;
  width: 55%;
}

.noReview0 {
  width: 400px;
  height: 400px;
  position: relative;
}
.noReview1 {
  width: 100%;
  height: 20%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.noReview2 {
  width: 80%;
  height: 70%;
  top: 35%;
  left: 10%;
  clip-path: ellipse(45% 40% at 50% 50%);
  position: absolute;
  background-color: rgb(100, 40, 0);
  z-index: 22;
}

.noReview3 {
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
  position: absolute;
  clip-path: ellipse(50% 44% at 50% 50%);
  background-color: rgb(100, 40, 0);
  z-index: 22;
}

.noReview4 {
  width: 30%;
  height: 30%;
  top: 30%;
  left: 70%;
  position: absolute;
  background-color: rgb(100, 40, 0);
  z-index: 20;
  clip-path: ellipse(40% 50% at 50% 50%);
}

.noReview5 {
  width: 20%;
  height: 20%;
  top: 35%;
  left: 75%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(40% 50% at 50% 50%);
  z-index: 21;
}
.noReview6 {
  width: 30%;
  height: 30%;
  top: 30%;
  left: 0%;
  position: absolute;
  background-color: rgb(100, 40, 0);
  z-index: 20;
  clip-path: ellipse(40% 50% at 50% 50%);
}

.noReview7 {
  width: 20%;
  height: 20%;
  top: 35%;
  left: 5%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(40% 50% at 50% 50%);
  z-index: 21;
}

.noReview8 {
  width: 70%;
  height: 60%;
  top: 40%;
  left: 15%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(44% 40% at 50% 50%);
  z-index: 23;
}

.noReview9 {
  width: 30%;
  height: 30%;
  top: 25%;
  left: 25%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(40% 50% at 50% 50%);
  z-index: 23;
}
.noReview10 {
  width: 30%;
  height: 30%;
  top: 25%;
  left: 45%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(40% 50% at 50% 50%);
  z-index: 23;
}

.noReview11 {
  width: 20%;
  height: 20%;
  top: 35%;
  left: 30%;
  position: absolute;
  background-color: white;
  clip-path: ellipse(45% 50% at 50% 50%);
  z-index: 23;
}

.noReview12 {
  width: 20%;
  height: 20%;
  top: 35%;
  left: 50%;
  position: absolute;
  background-color: white;
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 23;
}

.noReview13 {
  width: 15%;
  height: 15%;
  top: 40%;
  left: 55%;
  position: absolute;
  background-color: black;
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 24;
}

.noReview14 {
  width: 15%;
  height: 15%;
  top: 40%;
  left: 35%;
  position: absolute;
  background-color: black;
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 24;
}

.noReview15 {
  width: 45%;
  height: 20%;
  top: 65%;
  left: 30%;
  position: absolute;
  background-color: red;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  z-index: 24;
}
.noReview16 {
  width: 10%;
  height: 10%;
  top: 57%;
  left: 40%;
  position: absolute;
  background: linear-gradient(to top,rgb(215 135 85)50%,rgb(100, 40, 0));
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 24;
}

.noReview17 {
  width: 10%;
  height: 10%;
  top: 57%;
  left: 50%;
  position: absolute;
  background: linear-gradient(to top,rgb(215 135 85)50%,rgb(100, 40, 0));
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 24;
}

.noReview18 {
  width: 5%;
  height: 5%;
  top: 59%;
  left: 43%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 25;
}

.noReview19 {
  width: 5%;
  height: 5%;
  top: 59%;
  left: 53%;
  position: absolute;
  background-color: rgb(215 135 85);
  clip-path: ellipse(45% 35% at 50% 50%);
  z-index: 25;
}

.noReview20 {
  width: 5%;
  height: 5%;
  top: 19%;
  left: 25%;
  position: absolute;
  background-color: rgb(100, 40, 0);
  clip-path: polygon(0 0, 34% 100%, 100% 100%);
  z-index: 25;
}

.noReview21 {
  width: 5%;
  height: 5%;
  top: 22%;
  left: 22%;
  position: absolute;
  background-color: rgb(100, 40, 0);
  clip-path: polygon(0 0, 34% 100%, 100% 100%);
  z-index: 25;
}

.noReview22 {
  width: 7%;
  height: 10%;
  top: 14%;
  left: 26%;
  position: absolute;
  background-color: rgb(100, 40, 0);
  clip-path: polygon(0 0, 34% 100%, 100% 100%);
  z-index: 25;
}

.QA-wrapper {
  margin-top: 70px;
  width: 100%;
}