.carousel {
  position: relative;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  max-width: 100%;
}

/* CardTemplate component */
.card {
  display: inline-block;
  border: 1px solid;
  margin: 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}

.related-product-img {
  width: 100%;
  height: 150px;
  margin: 0;
  border: 0;
  padding: 0;
}

.product-name {
  font-weight: bold;
}

.empty,
.outfit {
  width: 21.5%;
}

/* Comparison component */
.parent {
  position: relative;
}

.modal {
  display: block;
  position: absolute;
  top: -75%;
  left: 50%;
  width: 350px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
}

.modal_content {
  position: absolute;
  width: 340px;
  height: 240px;
}

.close {
  float: right;
  font-weight: bold;
}

.close:hover {
  color: black;
  cursor: pointer;
}

.col1 {
  text-align: left;
}

.col3 {
  text-align: right;
}