.carousel {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: left;
  list-style: none;
  max-width: 800px;
  overflow-y: auto;
  vertical-align: baseline;
}

.card {
  display: inline-block;
  border: 1px solid;
  margin: 0 10px;
  box-sizing: border-box;
  width: 250px;
  height: 350px;
}

.related-product-img {
  width: 250px;
  height: 250px;
  margin: 0;
  border: 0;
  padding: 0;
}

.product-info {
  vertical-align: baseline;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.product-price {
  font-weight: 100;
}

.product-name {
  font-weight: bold;
}

.empty-card {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}
